* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background: url(fons.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    left: 0;
    right: 0;
    height: 5%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: .5rem;
}

.header .item1 {
    backdrop-filter: blur(10px);
    width: 10px;
    height: 10px;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 3rem;
    padding: 1rem;
}

.header .item1 img {
    opacity: 60%;
    top: 8px;
    right: 8px;
    filter: invert(100%);
    width: 70%;
    position: absolute;
}

.header .item1:hover {
    border: rgba(255, 255, 255, 1) solid 2px;
}

.header .item1:hover img {
    opacity: 100%;
}

.header .item2 {
    flex: 1;
}

.header .item3 {
    backdrop-filter: blur(10px);
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 3rem;
    width: 10px;
    height: 10px;
    padding: 1rem;
}

.header .item3 img {
    opacity: 60%;
    top: 8px;
    right: 8px;
    filter: invert(100%);
    width: 70%;
    position: absolute;
}

.header .item3:hover {
    border: rgba(255, 255, 255, 1) solid 2px;
}

.header .item3:hover img {
    opacity: 100%;
}

.section {
    flex: 1;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currently-playing {
    padding: 1rem;
    width: 25%;
    height: 70%;
    backdrop-filter: blur(10px);
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.album-art {
    flex: 1;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 2rem;
    width: 90%;
    overflow: hidden;
}

.album-art img {
    width: 100%;
    height: 100%;
}

.song-info .title {
    font-size: 20px;
}

.controls {
    display: flex;
    padding: 1rem;
    width: 80%;
    height: 10%;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: space-between;
}

.controls .item1 {
    align-content: center;
    justify-content: space-between;
    border-radius: 1rem;
    width: 50px;
}

.controls .item1 img {
    opacity: 60%;
    filter: invert(100%);
    width: 70%;
}

.controls .item1 img:hover {
    opacity: 100%;
}

.controls .item2 {
    align-content: center;
    justify-content: space-between;
    border-radius: 1rem;
    width: 50px;
}

.controls .item2 img {
    opacity: 60%;
    filter: invert(100%);
    width: 70%;
}

.controls .item2 img:hover {
    opacity: 100%;
}

.controls .item3 {
    align-content: center;
    justify-content: space-between;
    border-radius: 1rem;
    width: 50px;
}

.controls .item3 img {
    opacity: 60%;
    filter: invert(100%);
    width: 70%;
}

.controls .item3 img:hover {
    opacity: 100%;
}

.footer {
    display: flex;
    left: 0;
    right: 0;
    text-align: center;
    height: 8%;
    align-content: center;
    justify-content: space-between;
    padding: .5rem;
}

.footer .item1 {
    width: 10%;
    color: rgba(255, 255, 255, 0.6);
    align-content: center;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
}

.footer .item1:hover {
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) solid 2px;
    backdrop-filter: blur(50px);
}

.footer .item2 {
    width: 10%;
    justify-content: space-evenly;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
    display: flex;
    padding: 1rem;
}

.footer .item2 img {
    opacity: 60%;
    filter: invert(100%);
    width: 30px;
}

.footer .item2:hover {
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) solid 2px;
    backdrop-filter: blur(50px);
}

.footer .item2 img:hover {
    opacity: 100%;
}

.copyrights {
    display: none;
}